//Intro Section
.intro {
  padding-top: rem-calc(230);
  padding-bottom: rem-calc(150);
  position: relative;
  border: 1px solid transparent;
  border-bottom-left-radius: 95% 10%;
  border-bottom-right-radius: 95% 10%;
  margin-bottom: rem-calc(-50);
  z-index: 1;
  background-color: $white;
  overflow: hidden;
}
.intro__content {
  margin-bottom: rem-calc(50);
}
.intro__image {
  width: 100%;
}
.intro__lines {
  position: absolute;
  top: 0;
  left: 17%;
  content: '';
  width: 66%;
  border-right: rem-calc(2) solid $light-grey;
  border-left: rem-calc(2) solid $light-grey;
  height: 100%;
  z-index: -1;
  opacity: 0.2;
  &:after, &:before {
    position: absolute;
    content: '';
    width: rem-calc(16);
    height: rem-calc(16);
    border: rem-calc(5) solid $blue;
    border-radius: 50%;
    opacity: 0.6;
  }
  &:after {
    top: 16%;
    left: rem-calc(-9);

  }
  &:before {
    top: 34%;
    right: rem-calc(-9);
  }
  & > div {
    position: absolute;
    top: 0;
    left: 50%;
    content: '';
    width: rem-calc(2);
    border-left: rem-calc(2) solid $light-grey;
    height: 100%;
    &:after {
      position: absolute;
      top: 50%;
      left: rem-calc(-9);
      content: '';
      width: rem-calc(16);
      height: rem-calc(16);
      border: rem-calc(5) solid $blue;
      border-radius: 50%;
      opacity: 0.4;
    }
  }
  & > span {
    position: absolute;
    bottom: 10%;
    left: rem-calc(-9);
    content: '';
    width: rem-calc(16);
    height: rem-calc(16);
    border: rem-calc(5) solid $blue;
    border-radius: 50%;
    opacity: 0.4;
  }
}

//Styles for Linkedin Section
.linkedin {
  padding-top:rem-calc(250);
  padding-bottom: rem-calc(350);
  background: linear-gradient(180deg, #2B3755 0%, #16213A 45.62%, #10192C 110.87%);
  @include breakpoint(medium down) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  @include breakpoint(small down) {
    padding-top: 80px;
    padding-bottom: rem-calc(130);
  }
}
.linkedin__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 250px;
  @include breakpoint(medium down) {
    margin-bottom: 200px;
  }
  @include breakpoint(small down) {
    flex-direction: column;
    margin-bottom: 80px;
  }
  &:last-child {
    margin-bottom: 0;
  }
  &:nth-child(2n) {
    flex-direction: row-reverse;
    @include breakpoint(small down) {
      flex-direction: column;
    }
    .linkedin__left {
      padding-right: 0;
      padding-left: 15px;
      @include breakpoint(small down) {
        padding: 0;
      }
    }
    .linkedin__right {
      padding-left: 0;
      padding-right: 15px;
      @include breakpoint(small down) {
        padding: 0;
      }
    }
    .linkedin__left-wrapper {
      flex-direction: row-reverse;
      .linkedin__left-counter {
        margin-right: 0;
        margin-left: 100px;
        @include breakpoint(medium down) {
          margin-left: 60px;
        }
        @include breakpoint(small down) {
          position: absolute;
          left: auto;
          right: 0;
        }
      }
    }
  }
}
.linkedin__left {
  width: 100%;
  max-width: 50%;
  padding-right: 15px;
  @include breakpoint(small down) {
    max-width: 100%;
    padding: 0;
    margin-bottom: 40px;
  }
}
.linkedin__left-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  @include breakpoint(medium down) {
    justify-content: center;
    position: relative;
  }
}
.linkedin__left-counter {
  font-size: rem-calc(36);
  font-weight: 800;
  color: #6B7283;
  line-height: 1;
  margin: 0;
  padding-bottom: 60px;
  position: relative;
  margin-right: 100px;
  @include breakpoint(medium down) {
    margin-right: 60px;
  }
  @include breakpoint(small down) {
    position: absolute;
    left: 0;
  }
  @media only screen and (max-width: 440px) {
    display: none;
  }
  &::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 3px;
    height: 150px;
    background-color: #6B7283;
  }
}
.linkedin__right {
  width: 100%;
  max-width: 50%;
  padding-left: 15px;
  color: $white;
  @include breakpoint(small down) {
    max-width: 350px;
    text-align: center;
    padding: 0;
  }
}
.linkedin__right-title {
  font-size: 75px;
  margin-bottom: 45px;
  @include breakpoint(medium down) {
    font-size: 60px;
  }
  @media only screen and (max-width: 780px) {
    font-size: 45px;
  }
}
.linkedin__right-text {
  width: 100%;
  max-width: 570px;
  margin-bottom: 55px;
  p {
    font-size: 24px;
    margin-bottom: 15px;
    @include breakpoint(medium down) {
      font-size: 21px;
    }
    @media only screen and (max-width: 780px) {
      font-size: 17px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
//Styles for Team Section
.team {
  border: 1px solid transparent;
  border-top-left-radius: 110% 4%;
  border-top-right-radius: 110% 4%;
  padding-top: 160px;
  padding-bottom: 200px;
  background-color: $white;
  position: relative;
  z-index: 1;
  margin-top: rem-calc(-100);
  @include breakpoint(medium down) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  @include breakpoint(small down) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.team__heading {
  font-size: 75px;
  font-weight: 700;
  width: 100%;
  max-width: 645px;
  margin-bottom: 92px;
  @include breakpoint(small down) {
    font-size: 45px;
    margin-bottom: 55px;
    text-align: center;
  }

}
.team__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @include breakpoint(small down) {
    justify-content: center;
  }
}
.team__member {
  width: 50%;
  max-width: 513px;
  padding: 0 5px;
  text-align: center;
  margin-bottom: 50px;
  @include breakpoint(small down) {
    width: 100%;
  }
  &:nth-child(2n) {
    padding: 340px 5px 0;
    @include breakpoint(medium down) {
      padding: 250px 5px 0;
    }
    @include breakpoint(small down) {
      padding: 0 5px;
    }
  }
}
.team__photo {
  margin-bottom: 50px;
  img {
    width: 100%;
  }
}
.team__title {
  font-size: 36px;
  font-weight: 700;
  color: #000000;
  line-height: 1;
  margin-bottom: 10px;
}
.team__position {
  font-size: 18px;
  color: #999999;
  margin-bottom: 30px;
}
.team__text {
  margin-bottom: 40px;
  p {
    font-size: 24px;
    color: #4D4F5F;
    margin-bottom: 20px;
    @include breakpoint(medium down) {
      font-size: 21px;
    }
    @include breakpoint(small down) {
      font-size: 17px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.team__quote {
  font-size: 24px;
  font-weight: 600;
  font-style: italic;
  padding-top: 35px;
  position: relative;
  @include breakpoint(small down) {
    font-size: 17px;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-image: url('../images/quote.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    width: 24px;
    height: 21px;
  }
}