// Project variables

$blue: #0072FF;
$dark-blue: #09092A;
$dark-blue-100: #131D32;
$grey: #4D4F5F;
$light-grey: #A8A8B4;
$grey-100: #78788A;
$white: #ffffff;


$text-color: $grey;

$main-color: $blue;
$sub-color: $dark-blue;

$font: 'SF Pro Display', sans-serif;
$sub-font: $font;
$fa: 'Font Awesome 5 Free';
$fab: 'Font Awesome 5 Brands';

// Font Awesome Vars
$fa-font-path: "../fonts";
$fa-font-display: swap;

// Project mixins


// Custom fonts
@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/sf-pro/SFProText-Regular.eot');
  src: url('../fonts/sf-pro/SFProText-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/sf-pro/SFProText-Regular.woff2') format('woff2'),
  url('../fonts/sf-pro/SFProText-Regular.woff') format('woff'),
  url('../fonts/sf-pro/SFProText-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/sf-pro/SFProText-Bold.eot');
  src: url('../fonts/sf-pro/SFProText-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/sf-pro/SFProText-Bold.woff2') format('woff2'),
  url('../fonts/sf-pro/SFProText-Bold.woff') format('woff'),
  url('../fonts/sf-pro/SFProText-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/sf-pro/SFProDisplay-MediumItalic.eot');
  src: url('../fonts/sf-pro/SFProDisplay-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/sf-pro/SFProDisplay-MediumItalic.woff2') format('woff2'),
  url('../fonts/sf-pro/SFProDisplay-MediumItalic.woff') format('woff'),
  url('../fonts/sf-pro/SFProDisplay-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

