.footer {
	margin-top: auto;
	background-color: $dark-blue-100;
	padding-top: rem-calc(130);
	padding-bottom: rem-calc(120);
}
.footer__heading {
	color: $white;
}
.footer__contacts {
	& a {
		color: $light-grey;
		text-decoration: none;
		font-size: rem-calc(18);
		&:hover {
			color: $blue;
		}
	}
}
.footer__socials {
	a {
		color: $light-grey;
		text-decoration: none;
		font-size: rem-calc(18);
		&:hover {
			color: $blue;
		}

	}
}
.footer__copyright {
	color: $light-grey;
	font-size: rem-calc(18);
}
.footer__left {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}
.footer__socials {
	margin-top: rem-calc(20);
	p {
		display: inline-block;
		margin-left: rem-calc(10);
	}
}
.footer__form {
	.gfield_required {
		display: none;
	}
	label {
		color: $white;
		font-size: rem-calc(14);
		margin-bottom: rem-calc(10);
	}
	input, textarea {
		background-color: transparent;
		border: rem-calc(2) solid $grey-100;
		color: $white;
		&:focus {
			background-color: transparent;
			border: rem-calc(2) solid $blue;
		}
		&::placeholder {
			color: $light-grey;
		}
	}
	textarea {
		resize: none;
	}
	.gform_footer {
		text-align: center;
		button {
			border-radius: 0;
			min-width: 50%;
		}
	}
	.ginput_container_consent {
		display: flex;
	}
	input[type='checkbox'] {
		width: rem-calc(30);
		height: rem-calc(30);
	}
}