.logo {
  h1 {
    font-size: 0;
  }

  a {
    display: inline-block;
  }

  img {
    max-height: 150px;
  }
}

@include breakpoint(small down) {
body.menu-open {
  position: relative;
  &:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.1);
    z-index: 1;
    transition: .3s ease;
  }
}
  .logo {
    h1 {
      font-size: 0;
      text-align: left;
    }
  }
  /* TOP BAR Mobile STYLING */
  .header {
    position: absolute;
    width: 100%;
    z-index: 9;
    margin-top: rem-calc(40);
  }
  .menu-grid-container {
    padding-left: 0;
    padding-right: 0;

    .grid-margin-x {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .title-bar {
    line-height: 45px;
    background-color: transparent;
    justify-content: flex-end;

    .menu-icon {
      padding: 0;
      border: none;
      background-color: transparent;
      z-index: 9;

      @include menu-icon($dark-blue, $dark-blue, 30px, 24px, 3px);
    }

  }

  .top-bar {
    display: none;
    position: absolute;
    height: 100vh;
    width: 80%;
    background-color: $white;
    right: 0;
    top: -64px;
    padding: rem-calc(0 30);
  }
  .menu-header-menu-container {
    background-color: $white;
    padding-top: rem-calc(150);
  }

  .header-menu {
    background: transparent;

    li {
      > a {
        line-height: (90 / 45);
        font-size: rem-calc(35);
        color: $dark-blue;

        &:focus {
          &, & + .submenu-toggle {
            background: darken($main-color, 5); /* menu item background color on hover */
          }
        }
      }

      &.current-menu-item, &.current_page_ancestor, &.current_page_parent {
        > a, .submenu-toggle {
          font-weight: 700;
        }
      }

      &[aria-expanded='true'] {
        > a, .submenu-toggle {
          background: darken($main-color, 3); /* menu item background color on open dropdown */
        }
      }
    }

    .submenu-toggle {
      padding: 0;
    }

    .submenu {
      a {
        padding-left: #{get-side($accordionmenu-padding, 'left') * 1.65};
      }

      .submenu {
        a {
          padding-left: #{get-side($accordionmenu-padding, 'left') * 2.3};
        }
      }
    }
  }
}

@include breakpoint(medium) {

  .header {
    position: absolute;
    width: 100%;
    z-index: 9;
    margin-top: rem-calc(75);
    margin-bottom: rem-calc(20);
  }

  .header-menu.menu {
    justify-content: flex-end;


    li {
      > a {
        line-height: 40px;
        color: $grey;
        font-size: rem-calc(14);

        &:hover {
          color: $blue;
        }
      }

      &.current-menu-item, &.current_page_ancestor, &.current_page_parent {
        > a {
          /* Style of Current page and Ancestor page */
          font-weight: 700;
        }
      }

      &.is-active > a {
        /* Parent link style on dropdown hover */
        background: invert($main-color);
        color: $main-color;
      }
    }

    /* Dropdown item styling */

    .submenu {
      z-index: 11;
      display: none;

      &.js-dropdown-active {
        display: block;
      }

      li {
        > a {
          background: invert($main-color);
          color: $main-color;
          line-height: 30px;

          &:hover {
            /* Dropdown link on hover */
            background: lighten($main-color, 10);
            color: #fff;
          }
        }

        &.current-menu-item, &.current_page_ancestor, &.current_page_parent {
          > a {
            background: lighten($main-color, 10);
            color: #fff;
          }
        }
      }

      .submenu {
        /* Styles for 2nd level dropdown menu */
      }
    }
  }
}

@include breakpoint(large) {

  .header-menu.menu {
    li {
      > a {
        font-size: rem-calc(18);
      }
    }
  }
}