// Utils
@import 'inc/mixins';
@import 'inc/foundation-custom';
// Plugins
@import 'plugins/font-awesome/fontawesome';
@import 'plugins/slick.scss';
//@import 'plugins/jquery.fancybox.v2.scss'; // Uncomment this line and comment line above to use Fancybox v.2
@import 'plugins/jquery.fancybox.v3.scss';

/* -----------------------------------------
   General fixes
----------------------------------------- */

html {
	height: 100%;
}

body {
	position: static !important;
	display: flex;
	flex-direction: column;
	height: auto;
	min-height: 100vh;
}

main {
	display: block;
}

.grid-container {
	width: 100%;
}

*:last-child {
	margin-bottom: 0;
}

/* ---------------------------------------
	Typography / Forms / Inputs / Buttons
--------------------------------------- */

@import 'typography';


/* -----------------------------------------
    Contact Form
----------------------------------------- */

/*basic Gravity Form styles and fixes, if you dont need/use this -
comment or delete styles below*/

@import 'inc/gform';

/* ------------------------------------
    Basic Styles
------------------------------------- */

/* Position center */

.position-center {
	@include position-center();
}

//use @extend %bgcover; to selector if you need background cover;

%bgcover {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}

.bg-cover {
	@extend %bgcover;
}

//use @extend %bgcontain; to selector if you need contain image in block;

%bgcontain {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
}

.bg-contain {
	@extend %bgcontain;
}

.stretched-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.rel-wrap {
	position: relative;
}

.rel-content {
	position: relative;
	z-index: 2;
}

.of-cover, .stretched-img {
	object-position: 50% 50%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
}

.two-columns {
	@include breakpoint(medium) {
		columns: 2;
	}
}

.three-columns {
	@include breakpoint(medium) {
		columns: 3;
	}
}

.stretched-link::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	pointer-events: auto;
	content: "";
	background-color: rgba(0, 0, 0, 0);
}

.jarallax {
	position: relative;

	> .jarallax-img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.jarallax-inline {
	position: relative;

	> .jarallax-img {
		position: relative;
		z-index: -100;
		display: block;
		min-width: 100%;
		max-width: 100%;
		height: auto;
	}
}

img {
	&[data-lazy-src] {
		transition: opacity 0.3s ease-in-out;
	}
	&.pre-lazyload {
		opacity: 0;
	}

	&.lazyloaded {
		opacity: 1;
	}
}

/* ------------------------------------
    Content Styles
------------------------------------- */

.main-content {
	padding-top: rem-calc(200);
	padding-bottom: 50px;
}

/* 404 page */

.not-found {
	padding-top: 100px;
	padding-bottom: 100px;

	.label {
		background-color: $main-color;
		text-decoration: none;
		cursor: pointer;

		&:hover {
			background-color: darken($main-color, 8);
			color: #fff;
		}
	}
}

/* ---------------------------------------
	Repeatable blocks
--------------------------------------- */

@import 'repeatable-blocks';

/* ---------------------------------------
	Header
--------------------------------------- */

@import 'header';

/* ---------------------------------------
	Footer
--------------------------------------- */

@import 'footer';

/*---------------------------------------
	TMPL: Home page
---------------------------------------*/

@import 'templates/home';

/* ---------------------------------------
	TMPL: Default page
--------------------------------------- */

@import 'templates/default';


